[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tk-tools = "*"
matplotlib = "*"
pandas = "*"
numpy = "*"
customtkinter = "*"
pyqt6 = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.10"
